language: node_js
node_js:
  - "4.3.1"

before_install: 
- npm install -g grunt-cli
- npm install -g bower

install: 
- npm install
- bower install jquery
- bower install modernizer

before_script: grunt build
